* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  /* height: 5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  z-index: 999;
}

.header .logo {
  height: 4rem;
  
}
.navbar{
  font-size: large;
  font-style: normal;
  padding:1rem ;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
 /* padding-top: 2rem; */
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  
  text-decoration: none;
  /* font-size: 2rem;
  font-weight: 500; */
  color: #f9f9fa;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}
.navbar-link:hover,.navbar-link:active {
  font-size: 1.5rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.navbar {
  display: flex;
  justify-content:space-evenly; /* Add this to space the navbar items */
  align-items: center; /* Add this to vertically center items */
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  
  
  /* margin-left: 4rem; */
}

.login-btn,
.signup-btn {
  border: 1px solid #212529;
  padding: 0.5rem 1rem ; /* Adjust padding as needed */
  font-size: 1rem; /* Adjust font size as needed */;
  cursor: pointer;
  border-radius: 10px;
  /* font-weight: bold; */
  /* height: 4rem;  */
}

.login-btn {
  background-color: #fff;
  color: #212529;
}

.signup-btn {
  background-color: #212529;
  color: #fff;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
  color: #edebeb;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #f9f9f9;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}
.dropdown{
  font-size: large;
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #edebeb;
  color: rgb(7, 7, 7);
  min-width: 160px;
  z-index: 1;
  font-size: large;
}
.dropdown i{
  color: rgb(255, 255, 255);
}
.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size:large;
}

.dropdown-content a:hover {
  background-color: #b9b8b8;
  color: #364fc7;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}



/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    height: 20px;
    width: 25px;
    border-radius: 5px;
    border: 3px solid #ffffff;
    color: #ffffff;
    .navbar-list {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
    .navbar-buttons {
      order: -1; /* Shift the navbar buttons to the top */
      margin-bottom: 1rem; /* Add margin between navbar buttons and navbar links */
      margin-top: 0;
    }
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 100%;
    
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #000000;
    color: #fefefe;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the transition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .navbar a{
    color: #050505;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    
  }
  .navbar-list a{
    color: #ffffff;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 100%;
   
  }
}



